/* connection */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #1f1f1f;
}
/* l'en tete */
.navbar {
    background-color: #1f1f1f;
}
.navbar-brand img {
    height: 70px; 

}
.navbar-nav{
    gap: 20px;
}
.navbar-nav .nav-link {
    color: #fff; 
    border-radius: 10px;
    text-align: center;

}
.navbar-nav .nav-link:hover {
    background-color:#ffc107 ;
    border-radius: 10px;
    color: #000;
}

.collapse ul a {
    font-weight: bold;
}
/* livraison */
.livraison{
    color: black;
    background-color: #ffc107;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
}
/* livraison */
header .logo img {
    width: 120px;
}

.inscription-section {
    height: 120vh;
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
}

.inscription {
    height: 100vh;
    position: relative;
}

.inscription .overlay {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #1a1a1a;
}

.inscription .overlay h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.inscription .overlay p {
    font-size: 1.2rem;
    text-align: center;
}

.inscription-form {
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

.inscription-form h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #1f1f1f;
}

.inscription-form .form-label {
    font-weight: bold;
    color: #1f1f1f;
}

.inscription-form .btn-warning {
    background-color: #ffc107;
    border: none;
    color: #1a1a1a;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
    transition: background-color .5s linear, color .5s linear ;
}

.inscription-form .btn-warning:hover {
    background-color: #1a1a1a;
    color: #ffc107;
}
.inscription-form .btn-warning:active {
    transform: scale(0.9);
}


.inscription-form .text-center a {
    color: #ffc107;
    text-decoration: none;
}
.inscription-form .text-center a:focus{
    color: #3d177d;
}

.inscription-form .text-center a:hover {
    text-decoration: underline;

}
/* La pied */
footer {
    background-color: #1f1f1f; 
    color: #fff; 
    padding: 40px 0;
}

footer h5 {
    font-weight: bold;
    margin-bottom: 20px;
}

footer a {
    color: #fff; 
    text-decoration: none; 

}
div ul li{
    margin-bottom: 5px;
}

footer a:hover {
    color: #f8c52c;
}

.social-icons a {
    font-size: 1.5rem;
    margin-right: 15px;
    color: #fff;
}

.social-icons a:hover {
    color: #f8c52c;
}
